@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{


    --airBnbPink:#fc484e;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.container{

    background: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgba(189, 187, 187, 0.24);
    
}

.container nav{

    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    position: absolute;
    background: white;
    top: 2%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}

.container nav .search 
{
    height: 40% ;
    width: 30vw;
    border: solid rgb(0, 0, 0) 2px ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    position: relative;
    bottom: 0;
    
}

.container .left{
    height: 90%;
    width: 40vw;
    background-image: url('logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container .center{

    border: solid 1px ;
    border-color: var(--airBnbPink);
    height: 80%;
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}
.container .center a{

    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

.container .center ion-icon{

    color: var(--airBnbPink);
    font-weight: bolder;
}


.container .right{
    height: 90%;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.container .right h1{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    
}

.container .right span{

    height: 50%;
    width: 22%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .right span ion-icon{
    color: var(--airBnbPink);
    height: 80%;
    width: 40%;
    display: flex;
    align-items: center;
}

#user{
    color: var(--airBnbPink);
    height: 80%;
    width: 40%;
    display: flex;
    align-items: center;
}

.container section {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 5%;
    top: 20%;
    background-image: url('wall.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
     border: solid var(--airBnbPink) 1px;
     box-shadow: 1px 1px 10px black;
}

.container section .info{
    background-image: none;
    border: solid var(--airBnbPink) 1px;
    position: absolute;
    left: -50%;
    width: 55%;
    flex-direction: column;
    top: 5%;
    height: 70vh;
    backdrop-filter: blur(10px);
    background:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    animation: slide 3s 1 ;
}
@keyframes slide {

    from{

        z-index: -1;
        left: 0;
        transition: ease-in-out;
    }
    90%{
        z-index: -1;
    }
    
}
.container section .info h1{

    width: 80%;
    height: 10%;
    border:none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    font-size: 18px;
    font-family:cursive;
    text-shadow: 1px 1px 1px black;
}
.container section .info p{

    width: 100%;
    height: 10%;
    border:none;
    border-radius: 10px;
    color: rgb(102, 101, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    font-size: 14px;
    font-family:cursive;
    text-transform: capitalize;

}
.container section .info button{

    width: 80%;
    height: 10%;
    position: absolute;
    bottom: 5%;
    background: var(--airBnbPink);
    border:none;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;

}
.container section .info input{

    width: 80%;
    height: 10%;
    background: none;
    border:solid grey 1px;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
}


/*section 2*/

#section2{
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    background: none;
    align-items: center;
}

#section2 div{
    height: 80%;
    width: 30%;
}

.one{
background-image: url('home1.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.two{
background-image: url('home2.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.three{
background-image: url('home3.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.priceCont{

    border: solid;
    height: 10%;
    width: 30%;
    position: absolute;
    bottom: 0;
}


/*section3*/

#section3{


    width: 100%;
    height: 100vh;
}

