@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{


    --airBnbPink:#FF5A5F;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container{

    background: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.container nav{

    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.container nav .search 
{
    height: 40% ;
    width: 30vw;
    border: solid rgb(0, 0, 0) 2px ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    position: relative;
    bottom: 0;
    
}

.container .left{
    height: 90%;
    width: 40vw;
    background-image: url('logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container .center{

    border: solid 1px ;
    border-color: var(--airBnbPink);
    box-shadow: 4px 3px 10px black;
    height: 80%;
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}
.container .center a{

    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

.container .center ion-icon{

    color: var(--airBnbPink);
    font-weight: bolder;
}


.container .right{
    height: 90%;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.container .right h1{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    
}

.container .right span{

    height: 60%;
    width: 22%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .right span ion-icon{

    color: var(--airBnbPink);
    height: 90%;
    width: 45%;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

#user{

    background-color: var(--airBnbPink);
    color: white;
}
.container section {

    width: 90%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.container section span{

    height: 100%;
    width: 10%;
    border: solid red 1px;
    flex-shrink: 0;
    
}

.container #content{

    height: 75vh;
    justify-content: space-around;
}

.container #content span{
    height: 30%;
    width: 20%;
    box-shadow: 2px 2px 10px black;
    background-image: url('images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.container #content span:hover{
  opacity: 0.9;
  transition: ease-in-out;
}

#content span h4{
    color: white;
    border: solid white 0.8px;
    text-transform: capitalize;
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(20px);
background: rgba(39, 39, 39, 0.158); }

#content span button{
    color: white;
    border: solid white 0.8px;
    text-transform: capitalize;
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(20px);
background: rgba(39, 39, 39, 0.158); }
