body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.container{

    background: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container nav{

    width: 90%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container nav .search 
{
    height: 40% ;
    width: 30vw;
    border: solid rgb(0, 0, 0) 2px ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    position: relative;
    bottom: 0;
    
}

.container .left{
    height: 90%;
    width: 20vw;
    border: solid 1px green;
    flex-shrink: 1;
}
.container .center
{
    height: 90%;
    width: 60vw;
    border: solid 1px green;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.container .center section{

    border: solid pink ;
    height: 50%;
    width: 100%;
}

.container .center #above{

    width: 60%;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 1;
    border-radius: 20px;
}

.container .right{
    height: 90%;
    width: 20vw;
    border: solid 1px rgb(143, 52, 17);
}
.container section {

    width: 90%;
    height: 90vh;
    border: green solid 1px;
}
